<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- импорт через файл musicPlayer.properties -->
    <context:property-placeholder location="classpath:musicPlayer.properties" />

    <bean id="musicBean"
          class="ru.bystryakov.springcourse.RockMusic" >
    </bean>
    <!---->
    <bean id="musicBean2"
        class="ru.bystryakov.springcourse.ClassicalMusic" >
    </bean>
    <!-- теперь через Spring создадим MusicPlayer -->
    <bean id="musicPlayer"
        class="ru.bystryakov.springcourse.MusicPlayer"
        >
        <!-- scope="prototype" -->
        <constructor-arg ref="musicBean" />
        <property name="volume" value="66" />
    </bean>
    <!-- домашка -->
    <bean id="musicBeanJ"
          class="ru.bystryakov.springcourse.JazzMusic" >
    </bean>
    <!-- внедрение через конструктор
    <bean id="musicP"
          class="ru.bystryakov.springcourse.MusicPlayer" >
        <constructor-arg ref="musicBean2" />
    </bean>
    -->
    <!--внедрение через setter  -->
    <bean id="musicP"
          class="ru.bystryakov.springcourse.MusicPlayer" >
        <property name="music" ref="musicBean" />
        <!-- значения вручную
        <property name="name" value="Уровень громкости: " />
        <property name="volume" value="66" />
        -->
        <!-- или через файл musicPlayer.properties -->
        <property name="name" value="${musicPlayer.name}" />
        <property name="volume" value="${musicPlayer.volume}" />
    </bean>
    <!-- коллекция - домашка -->
    <bean id="collectionInjection" class="ru.bystryakov.springcourse.CollectionInjection">
    <!-- results in a setDocumentList(java.util.List) call -->
    <property name="musicList">
        <list>
            <!--
            <value>Песня1</value>
            <value>Классика</value>
            <value>Рок</value>
            <value>Джаз</value>-->
            <!-- грузим бины !! -->
            <ref bean="musicBean2" />
            <ref bean="musicBean" />
            <ref bean="musicBeanJ" />
        </list>
    </property>
    </bean>
    <!-- init & destroy, + проверка для prototype -->
    <bean id="musicBeanP"
          class="ru.bystryakov.springcourse.PopMusic"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy"  >
    </bean>

</beans>