<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="ru.bystryakov.springcourse.RockMusic" >
    </bean>
    <!---->
    <bean id="musicBean2"
        class="ru.bystryakov.springcourse.ClassicalMusic" >
    </bean>
    <!-- теперь через Spring создадим MusicPlayer -->
    <bean id="musicPlayer"
        class="ru.bystryakov.springcourse.MusicPlayer" >
        <constructor-arg ref="musicBean" />
    </bean>
    <!-- домашка -->
    <bean id="musicBeanJ"
          class="ru.bystryakov.springcourse.JazzMusic" >
    </bean>
    <!-- внедрение через конструктор
    <bean id="musicP"
          class="ru.bystryakov.springcourse.MusicPlayer" >
        <constructor-arg ref="musicBean2" />
    </bean>
    -->
    <!--внедрение через setter  -->
    <bean id="musicP"
          class="ru.bystryakov.springcourse.MusicPlayer" >
        <property name="music" ref="musicBean" />
        <!-- значения -->
        <property name="name" value="Уровень громкости: " />
        <property name="volume" value="66" />
    </bean>

</beans>